.breadcrumb-item {
  a {
    color: #333;
  }

  &:last-child {
    i {
      display: none;
    }
  }
}

.breadcrumbs {
  font-size: 14px;
  margin: 20px 0 30px;
  padding: 10px 15px;
  line-height: 30px;
  border-bottom: 1px solid #DFDFDF;
}

